.product-container {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-color-primary);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.product-currency {
  font-size: 16px;
  color: var(--font-color-tertiary);
  font-weight: 700;
  margin-right: 5px;
}

.product-price {
  font-size: 16px;
  color: var(--font-color-tertiary);
  font-weight: 700;
}
