header {
    width: 100%;
    height: 70px;
    background-color: var(--bg-color-primary);
    display: flex;
    align-items: center;
    padding-inline: 20px
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-count {
    color: var(--font-color-primary);
    font-weight: 700;
}